*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.heading
{
    height: 100px;
    width: 100vw;
    font-size: 80px;
    text-align: center;
    background-color: rgb(82, 82, 200);
    color: white;
    margin-bottom: 20px;
}

.image{
    height: 200px;
    width: 200;
    border-radius: 50%;
    border: 2px solid black;
}

.card-box{
    display: flex;
    flex-wrap: wrap;
}

.card{
    border: 3px solid black;
    border-radius: 50%;
    height: 350px;
    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin:15px;
    margin-left: 5vw;
}

.search
{
    margin-left: 40vw;
}

.search input
{
    height: 40px;
    padding-left: 20px;
    font-size: 20px;
    width: 250px;
}

.search button
{
    height: 40px;
    background-color: rgb(82, 82, 200);
    color: white;
    margin-left: 20px;
    width: 70px;
    border-radius: 7px;
    font-size: larger;
}